<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <span id="logo"><img src="{{ url_for('static', filename='Images/logo.png') }}" alt=""></span>
    <span id="login"> <button type="submit" class="btn"><a href="{{ url_for('login') }}">Login</a></button></span>
    <span id="create"> <button type="submit" class="btn"><a href="{{ url_for('createAcc') }}">Create Account</a></button></span>

        <form action="/recommend_books" method="POST" id="issueForm">
            <div class="form-group">
                <input type="text" name="user_input" id="bookName" class="form-control" placeholder="Enter book name" required>
                <button type="submit" class="btn">Search</button>
                <button type="submit" class="btn" id="filter"><a href="{{ url_for('recommend') }}">Filter</a></button>
            </div>
        </form>

            <div class="libraries">
                <label>Select Library</label>
                <ul id="libsec">
                    <li>
                        <p>VNIT Library, Bajaj Nagar :<br>
                            8 AM to 9 PM
                        </p>
                    </li>
                    <li>
                        <p>Newton Library, Mihar :<br>
                            8 AM to 12 PM
                        </p>
                    </li>
                    <li>
                        <p>AIIMS Library, Nagpur :
                        <br>
                        10 AM to 8 PM</p>
                    </li>
                    <li>
                        <p>Central Nagpur Library : <br> 9 AM to 6 PM</p>
                    </li>
                    <li>
                        <p>Raisoni Library : <br> 10 AM to 8 PM</p>
                    </li>
                    <li>
                        <p>IIIT Nagpur Library :<br> 7 AM to 9 PM </p>
                    </li>
                    <li>
                        <p>ApJ Abdul Kalam Library :<br> 24 x 7</p>
                    </li>
                </ul>
            </div>
            {% if data %}
                <div class="Recom">
                <div class="Samples">
                    {% for i in data %}
                        <a href="i[2]" class="book">
                            <img src="{{i[2]}}" alt="">
                        </a>
                    {% endfor %}
                </div>
                </div>
            {% endif %}


            <div class="mostView">
                <label>Most Viewed</label>
                <div class="Samples">
                    {% for i in range(book_name|length) %}
                        <a href="book1.html" id="second" class="book">
                        <img src="{{image[i]}}" alt="">
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="help">
                <ul id="helpsec">
                    <li>
                        <a href="{{ url_for('contact') }}">Contact us</a></button>
                    </li>
                    <li>
                        <a href="{{ url_for('help') }}">Help</a></button>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}">About us</a></button>
                    </li>
                    <li>
                        <a href="{{ url_for('terms') }}">Terms and Conditions</a></button>
                    </li>
                </ul>
            </div>



    <script src="script.js"></script>
</body>
</html>
